.icon-column{
	text-align: center;
	width: 120px;
	font-size: 11pt;
}
.icon-column.wide{
	width: 60px;
}
.icon-column>a{
	margin: 0 4px;
}
.icon-column .fa-search{
	color: #0088cc;
}
.icon-column .fa-check, .icon-column .fa-refresh, .icon-column .fa-play{
	color: #51a351;
}
.icon-column .fa-pencil, .icon-column .fa-minus{
	color: #f89406;
}
.icon-column .fa-trash, .icon-column .fa-stop, .icon-column .fa-ban{
	color: #bd362f;
}
.icon-column .fa-trophy{
	color: #fece41;
}

:not(.btn)>.fa-twitter{
	color: #55acee;
}
:not(.btn)>.fa-instagram{
	color: #125688;
}
:not(.btn)>.fa-foursquare{
	color: #f94877;
}

a.logo{
	text-align: center;
	color: #fff;
	width: 100%;
	margin: 10px 0;
}
.margin-bottom{
	margin-bottom: 10px;
}

.form-signin h2.form-signin-heading {
    background:#f89406;
    border-bottom:10px solid #fca35a;
}

.break-word{
	overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
